body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-family: 'Creepster', cursive;
    text-align: center;
    margin: 0;
    padding: 200px 0;
    font-size: 100px;
}

h2 {
    font-family: 'Creepster', cursive;
    text-align: center;
    font-size: 50px;
    color: #00A591;
    margin: 0px;
}

.heading {
    font-weight: 700;
}

.subheading {
    font-weight: 300;
}